
.titulo-fijo{
    width: 100%;
    background-color:cornsilk;
    top:0;
    left:0;
    padding:10px;
    box-sizing: content-box;
    position: fixed;
    margin-bottom:10px;
    z-index: 100;
    

   



}
   

.titulo-fijo h1{
    margin:0;
    font-size: 25px;
    color:lightseagreen;
}


.ContenedorImagen{
    background: gray;

    height: 30vh;
    


}
.ContenedorImagen img{
    height: 20vh;
    width: 20vw;
    margin-top: 50px;
    
}



.ContenedorImagen div{
    
    display: flex;
    margin-left: 60px;
    flex-direction: row;



}



.titulo-fijo a{
    /*height: 20vh;*/
    /*width: 20vw;*/
    margin-top: 25px;  
    background-color: aqua;
    margin-left:80px;
    margin-right:200px;
    box-sizing:con;  
    text-decoration: underline; 

}


.titulo-fijo div{
    display: flex;
    /*margin-left: 60px;*/
    flex-direction: row;
    background-color: black;
    top:0px;
}
    








/*.imagen{
    text-align:center ;
    margin-top: 50px;
    position: relative;


}
.imagen img {
    
    max-width:25%;  
    position:absolute;
    top:49px; /*del inicio de la pag a la foto*/
   /* left:1px; 
    padding: 25px 0; /*el cero me permite poder volver a correr*/
/*}

.imagen2{
    text-align:center ;
   /* margin-top: 50px;*/
    
   
/*
}*/
/*
.imagen2 img{
    max-width:22%;  
    position:end;
    padding: 25px 0;
    top:49px;
    margin-left:210px; /*en ancho que deja del lado derecho*/
   /* margin-right:auto; /*preguntar*/

/*
}*/






